.post-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  column-gap: 20px;
  row-gap: 15px;
  margin-top: 2%;
}
.post-header {
  background-color: #fafafa;
  margin-top: 0;
  @media (max-width: 549px) {
    margin-top: 2vh;
  }
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-phone {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.post-subheader {
  background-color: #25c1cb;
  height: 40px;
  margin: 0 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  margin: 0 10%;
  @media (max-width: 400px) {
    margin: 0 3%
  }
}

.nongrid-container {
  margin-top: 15px;
}

.vin-input {
  margin-top: 5px;
  width: 100%;
}
.vin-text {
  width: 20%;
  color: #008cff;
  text-decoration: underline;
  font-family: Inter;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
  align-self: center;
}

.vin-container {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 10px;
}

.tooltip {
  height: 350px;
  width: 250px;
  background-color: #f2f5f7;
  border-radius: 10px;
  position: absolute;
  right: 0;
  bottom: 50px;
  -webkit-box-shadow: 1px 1px 53px -10px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 1px 1px 53px -10px rgba(0, 0, 0, 0.51);
  box-shadow: 1px 1px 53px -10px rgba(0, 0, 0, 0.51);
}

.x-container {
  display: flex;
  justify-content: end;
  padding-top: 15px;
  padding-right: 12px;
  margin-bottom: 20px;
}

.tooltip-text {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
}

.checkbox-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media (max-width: 960px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 475px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
