.mainContainer {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding:0;
      @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
      }
}

.adContainer {
    height: 15.625vw;
    width: 100%;

    @media (min-width: 1024px) {
        height: 600px;
        width: 160px;
      }
}

.mainWebsite {
    background-color: white;
    flex: 1;
}