.header {
  padding: 1.25rem; /* p-5 */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f4f6; /* bg-gray-100 */
  border-radius: 1rem; /* rounded-2xl */
  padding: 1.25rem; /* p-5 */
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  text-decoration: none;
}

.logoTextPrimary {
  color: #25C1CB; /* primary color */
  font-size: 1.8rem; /* text-2xl */
  font-weight: 700; /* font-semibold */
  line-height: 25px;
  font-family: Inter;
  letter-spacing: -0.5px;
  
}

.logoText {
  font-weight: 700; /* font-semibold */
  font-family: Inter;
  color: #000;
  font-size: 1.2rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.25rem; /* gap-5 */
}

.bellIcon,
.userIcon {
  cursor: pointer;
}
