.footer {
    background-color: #25C1CB; /* primary color */
    color: white;
  }
  
  .logo {
    margin-bottom: 1rem;
    text-align: left;
  }

  .logo > a {
    color: black;
    text-decoration: none;
  }
  
  .logoText {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
  }
  
  .leftLinks {
    text-align: left;
  }
  
  .link {
    display: block;
    margin-bottom: 0.25rem;
    text-decoration: none;
    color: inherit;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .rightLinks {
  }
  
  .phone,
  .mail,
  .instagram {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  